body {
  background-color: hsl(240, 3%, 94%);
  font-size: 15px;
}
.outer {
  background-image: url(./images/bg-bottom.svg), url(./images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: bottom left, top right;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.item {
  width: fit-content;
  height: fit-content;
  padding: 50px;
  text-align: center;
  border-radius: 10px;
  font-family: sans-serif;
  cursor: pointer;
}

.basic {
  background-color: white;
}
.professional {
  background-color: #9b9eef;
  transform: scale(1.1);
  color: white;
}
.master {
  background-color: white;
}
h1 {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  padding: 10px;
}
h4 {
  font-weight: 300;
  font-size: 20px;
  padding: 10px;
}

li{
   padding: 10px;
  font-family: sans-serif;
 border-bottom: 0.5px solid hsl(240, 23%, 86%);
}

.price {
  font-weight: 700;
  font-size: 30px;
  padding: 10px;
  border-bottom: 0.5px solid hsl(240, 23%, 86%);
}
.button {
  margin-top: 10px;
  padding: 5px 50px;
  background-color: rgb(113, 116, 223);
  color: white;
  border-radius: 5px;
  border: none;
}
.professional .button {
    background-color: white;
    color: hsl(237, 65%, 70%);
  }
.toggleBar {
  padding: 30px;
}
.toggle{
    position: relative;
    margin-top: 20px;
}
.toggle input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.toggle .onoff {
  display: inline-block;
  color: hsl(232, 13%, 33%);
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.slider {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: hsl(234, 14%, 74%);
  transition: 0.4s;
  width: 50px;
  top: 10px;
  height: 29px;
  border-radius: 30px;
}
.slider::before {
  content: '';
  position: absolute;
  left: 0;
  height: 25px;
  margin: 2px;
  width: 25px;
  background-color: white;
  border-radius: 40px;
  transition: 0.4s;
}
input:checked + .slider {
  background-image: linear-gradient(
    to bottom right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}
input:checked + .slider::before {
  transform: translateX(20px);
  background-color: white;
}

@media (max-width: 620px) {
  .professional {
    transform: unset;
    margin-top: 5px;
  }
  .item {
    margin-top: 5px;
  }
  .outer {
    background-image: unset;
    background-image: url(./images/bg-top.svg);
    background-position: top right;
    background-size: 50%;
  }
}
